---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="whyNgCream">
  <p>Develop accessible applications with our vanilla JS components.</p>
  <p>
    <a href="#">Let's get started</a>
  </p>
</div>
<ul class="ngCreamBecause">
  <li><svg height="50" viewBox="0 0 24 24" width="200">
      <use href="assets/img/icons.svg#htmIconSvg"></use>
    </svg>
    <h3>Embrace the Web</h3>
    <p>Each component has been handcrafted with love, with a progressive enhancement approach that respects web
      standards and <strong>semantics</strong>.</p>
  </li>
  <li><svg height="50" viewBox="0 0 24 24" width="200">
      <use href="assets/img/icons.svg#gitIconSvg"></use>
    </svg>
    <h3>Fork &amp; Contribute</h3>
    <p>All the components are <strong>open source</strong>. You can <strong><a
          href="https://github.com/CreamLib/Angular_Code">fork us on Github</a></strong> and propose your own
      components.</p>
  </li>
  <li><svg height="50" viewBox="0 0 24 24" width="200">
      <use href="assets/img/icons.svg#responsiveIconSvg"></use>
    </svg>
    <h3>Be Responsive</h3>
    <p>All components were designed to be fully <strong>responsive</strong> and multi-device.</p>
  </li>
  <li><svg height="50" viewBox="0 0 24 24" width="200">
      <use href="assets/img/icons.svg#a11yIconSvg"></use>
    </svg>
    <h3>Accessibility</h3>
    <p>We're doing our best to create the most accessible components.</p>
  </li>
</ul>
      