---
title: Skip component
description: This is the skip-link component
date: 2019-11-20
tags:
- components
- navigation
layout: layouts/component.njk
---

<!-- Component Page Title -->
<div class="panelTitle">
    <ul>
        <li><a href="#skip-invisible">Skip Link (invisible)</a></li>
        <li><a href="#skip-invisible">Skip Link</a></li>
    </ul>
</div>

<!-- Component Title -->
<div class="titleComponent">
    <div class="descriptionComponent" id="skip-invisible">
        <h3>Skip Link (invisible)</h3>
        <div class="demo">
            <a href="#goToTheBottom1" class="ui-skip hiddenLink">Go to the bottom</a>
        </div>
    </div>

    <div class="descriptionComponent" id="skip">
        <h3>Skip Link</h3>
        <div class="demo">
            <a href="#goToTheBottom2" class="ui-skip">Go to the bottom</a>
        </div>
    </div>
</div>