---
title: Skip component
description: This is the skip-link component
date: 2019-11-20
tags:
- components
- navigation
layout: layouts/component.njk
---

<!-- Component Page Title -->
<div class="panelTitle">
    <ul>
        <li><a href="#breadcrumbs">Simple Breadcrumbs</a></li>
    </ul>
</div>

<!-- Component Title -->
<div class="titleComponent">
    <div class="descriptionComponent" id="breadcrumbs">
        <h3>Simple Breadcrumbs</h3>
        <div class="demo">
            <!-- SIMPLE BREADCRUMBS -->
            <ol class="ui-breadcrumbs">
                <li><a href="/"> Home </a></li>
                <li>Breadcrumbs</li>
            </ol>
        </div>
    </div>
</div>