---
title: Input
description: This is the input component
date: 2019-11-07
tags:
- components
- forms
layout: layouts/component.njk
---

<!-- Component Page Title -->
<div class="panelTitle">
    <ul>
        <li><a href="#input">Regular Text Input</a></li>
        <li><a href="#input-search">Search Input</a></li>
        <li><a href="#input-tel">Phone Input</a></li>
        <li><a href="#input-mail">E-mail Input</a></li>
        <li><a href="#input-url">URL Input</a></li>
        <li><a href="#input-password">Password Input</a></li>
        <li><a href="#input-error-msg">Contextual Error Message</a></li>
    </ul>
</div>

<!-- Component Title -->
<div class="titleComponent">
    <!-- INPUT REGULAR -->
    <div class="descriptionComponent" id="input">
        <h3>Regular Text Input</h3>
    </div>

    <!-- INPUT SEARCH -->
    <div class="descriptionComponent" id="input-search">
        <h3>Search Input</h3>
    </div>

    <!-- INPUT PHONE -->
    <div class="descriptionComponent" id="input-tel">
        <h3>Phone Input</h3>
    </div>

    <!-- INPUT MAIL -->
    <div class="descriptionComponent" id="input-mail">
        <h3>E-mail Input</h3>
    </div>

    <!-- URL INPUT -->
    <div class="descriptionComponent" id="input-url">
        <h3>URL Input</h3>
    </div>

    <!-- PASSWORD INPUT -->
    <div class="descriptionComponent" id="input-password">
        <h3>Password Input</h3>
    </div>

    <!-- ERROR MESSAGE -->
    <div class="descriptionComponent" id="input-error-msg">
        <h3>Contextual Error Message</h3>
    </div>
</div>