---
base: "/"
---

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{base}}assets/css/vars.css" type="text/css">
  <link rel="stylesheet" href="{{base}}assets/css/styles.css" type="text/css">
</head>

<body>
  <div id="wrapper">
    <!-- Header -->
    <header>
      <!-- Burger Button -->
      <button [ngClass]="{ burgerVertical: menuMobile, burgerHorizontal: !menuMobile }">
        <img src="{{base}}assets/img/burger.svg" alt="Mobile Button (Open Menu)" />
      </button>

      <!-- Logo -->
      <h1>
        <a href="/" class="logo">
          <picture>
            <source srcset="{{base}}assets/img/creamNG-logo.svg" media="(min-width:1000px)" />
            <img src="{{base}}assets/img/creamNG-logo-sml.svg" alt="Cream-NG, your accessible Angular Lib" />
          </picture>
        </a>
      </h1>

      <!-- MENU -->
      <nav class="primary-nav">
        <ul class="accordion">
          {%- for category in collections.categories -%}
          <li class="menu-group closed">

            <button class="panel-heading" aria-expanded="false" aria-controls="sousMenu{{category.data.tags[0]}}"
              id="itemMenu{{category.data.tags[0]}}">
              <svg>
                <use xlink:href="{{base}}assets/img/icons.svg#{{category.data.tags[0]}}"></use>
              </svg>
              {{ category.data.title }}
            </button>

            <div class="panel-collapse" aria-hidden="true" id="sousMenu{{category.data.tags[0]}}"
              aria-labeledby="itemMenu{{category.data.tags[0]}}">
              <ul class="contenuMenu">
                {%- for component in collections.components -%}
                {%- if component.data.tags[0] == category.data.tags[0] %}
                <li>
                  <a href="{{ component.data.permalink }}">{{ component.data.title }}</a>
                </li>
                {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>

          </li>
          {%- endfor -%}

        </ul>
      </nav>
    </header>

    <main>
      <div class="contentMain">
        {{content}}
      </div>
    </main>
  </div>
  <script type="text/javascript" src="{{base}}assets/js/main.js"></script>
  <script type="text/javascript" src="{{base}}assets/js/classlist-polyfill-IE.js"></script>
</body>

</html>