---
title: Accordion component
description: This is the accordion component
date: 2019-11-22
tags:
- components
- blocks
layout: layouts/component.njk
---

<!-- Component Page Title -->
<div class="panelTitle">
    <ul>
        <li><a href="#accordion">Normal Accordion</a></li>
    </ul>
</div>

<!-- Component Title -->
<div class="titleComponent">
    <div class="descriptionComponent" id="accordion">
        <h3>Skip Link (invisible)</h3>
        <div class="demo">
            <ul class="ui-accordion">
                <li class="ui-accordion-group">
                    <button class="panel-heading" aria-expanded="false" attr.aria-controls="panel1" id="tab1">
                        Title1
                        <svg>
                            <use xlink:href="{{ '/assets/img/icons.svg#arrowDownSvg' | url }}"></use>
                        </svg>
                    </button>

                    <div class="panel-collapse" aria-hidden="true" id="panel1" aria-labeledby="tab1">
                        <p>Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per
                            flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam
                            consumendo inediae propinquantis aerumnas exitialis horrebant.</p>
                    </div>
                </li>

                <li class="ui-accordion-group">
                    <button class="panel-heading" aria-expanded="false" attr.aria-controls="panel2" id="tab2">
                        Title2
                        <svg>
                            <use xlink:href="{{ '/assets/img/icons.svg#arrowDownSvg' | url }}"></use>
                        </svg>
                    </button>
                    <div class="panel-collapse" aria-hidden="true" id="panel2" aria-labeledby="tab2">
                        <p>Dum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque
                            circenses ambitioso editos apparatu diem sextum idus Octobres, qui imperii eius annum
                            tricensimum terminabat, insolentiae pondera gravius librans, siquid dubium deferebatur aut
                            falsum, pro liquido accipiens et conperto, inter alia excarnificatum Gerontium Magnentianae
                            comitem partis exulari maerore multavit.</p>
                    </div>
                </li>

                <li class="ui-accordion-group">
                    <button class="panel-heading" aria-expanded="true" attr.aria-controls="panel3" id="tab3">
                        Title3
                        <svg>
                            <use xlink:href="{{ '/assets/img/icons.svg#arrowDownSvg' | url }}"></use>
                        </svg>
                    </button>
                    <div class="panel-collapse" aria-hidden="false" id="panel3" aria-labeledby="tab3">
                        <p>Raptim igitur properantes ut motus sui rumores celeritate nimia praevenirent, vigore corporum
                            ac levitate confisi per flexuosas semitas ad summitates collium tardius evadebant. et cum
                            superatis difficultatibus arduis ad supercilia venissent fluvii Melanis alti et verticosi,
                            qui pro muro tuetur accolas circumfusus, augente nocte adulta terrorem quievere paulisper
                            lucem opperientes. arbitrabantur enim nullo inpediente transgressi inopino adcursu adposita
                            quaeque vastare, sed in cassum labores pertulere gravissimos.</p>
                    </div>
                </li>

                <li class="ui-accordion-group">
                    <button class="panel-heading" aria-expanded="false" attr.aria-controls="panel4" id="tab4">
                        Title4
                        <svg>
                            <use xlink:href="{{ '/assets/img/icons.svg#arrowDownSvg' | url }}"></use>
                        </svg>
                    </button>
                    <div class="panel-collapse" aria-hidden="true" id="panel4" aria-labeledby="tab4">
                        <p>Post quorum necem nihilo lenius ferociens</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>