---
title: Slider & Progress
description: This is the Slider & Progress components
date: 2019-11-18
tags:
- components
- forms
layout: layouts/component.njk
---

<!-- Component Page Title -->
<div class="panelTitle">
    <ul>
        <li><a href="#slider">Slider</a></li>
        <li><a href="#progress-bar">Progress Bar</a></li>
        <li><a href="#progress-spinner">Progress Spinner</a></li>
    </ul>
</div>

<!-- Component Title -->
<div class="titleComponent">
    <div class="descriptionComponent" id="slider">
        <h3>Slider</h3>
        <div class="demo">
            <!-- SLIDER -->
            <p class="ui-slider">
                <label for="slider1">Choose a value</label>
                <!-- Input type RANGE -->
                <input type="range" id="slider1" min="0" max="50" step="1" value="25" />
                <!-- Output for display change value -->
                <span for="slider1" class="output" id="output">0</span>
            </p>
        </div>

        <h4>Tooltip Slider</h4>
        <div class="demo">
            <!-- TOOLTIP SLIDER -->
            <p class="ui-slider bubble">
                <label for="slider2">Choose a value</label>
                <!-- Input type RANGE -->
                <input type="range" id="slider2" min="0" max="50" step="1" value="25" />
                <!-- Output for display change value -->
                <span for="slider2" class="output" id="output1">0</span>
            </p>
        </div>

        <div class="explain">
            <p>Just add the class <em>bubble</em> when calling the <code>ui-slider</code> component
                to display the <code>output</code> element as a tooltip.</p>
        </div>

        <!-- CODE SNIPPETS -->
        <div class="snippets">
            <div class="tabsContainer">
                <ul class="buttons-bar">
                    <li class="over active">
                        <button id="tab01_01" aria-controls="tab01_01_content">HTML</button>
                    </li>
                    <li class="over">
                        <button id="tab01_02" aria-controls="tab01_02_content">CSS</button>
                    </li>
                </ul>
                <div class="content" aria-hidden="false" aria-labeledby="tab01_01" id="tab01_01_content">
                    <div class="code">
                        <!--?prettify lang=html linenums=true?-->
                        <pre class="prettyprint linenums">
                            <code>
                                &lt;!-- SLIDER --&gt;
                                &lt;p class="ui-slider"&gt;
                                    &lt;label for="slider1"&gt;Choose a value&lt;/label&gt;
                                    &lt;!-- Input type RANGE --&gt;
                                    &lt;input type="range" id="slider1" min="0" max="50" step="1" value="25" /&gt;
                                    &lt;!-- Output for display change value --&gt;
                                    &lt;span for="slider1" class="output" id="output"&gt;0&lt;/span&gt;
                                &lt;/p&gt;
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="content" aria-hidden="true" aria-labeledby="tab01_02" id="tab01_02_content">
                    <div _ngcontent-c18="" class="code">
                        <pre _ngcontent-c18="" class="prettyprint linenums prettyprinted" style="">
                            .toto &#123;
                                color: #FFF;
                            &#125;
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="descriptionComponent" id="progress-bar">
        <h3>Progress Bar</h3>
        <div class="demo">
            <!-- PROGRESS BAR -->
            <p class="ui-progress-bar">
                <label for="prog1">Progress</label>
                <progress id="prog1" name="prog1" max="100" value="30" disabled="disabled"></progress>
            </p>
        </div>

        <!-- CODE SNIPPETS -->
        <div class="snippets">
            <div class="tabsContainer">
                <ul class="buttons-bar">
                    <li class="over active">
                        <button id="tab01_01" aria-controls="tab01_01_content">HTML</button>
                    </li>
                    <li class="over">
                        <button id="tab01_02" aria-controls="tab01_02_content">CSS</button>
                    </li>
                </ul>
                <div class="content" aria-hidden="false" aria-labeledby="tab01_01" id="tab01_01_content">
                    <div class="code">
                        <!--?prettify lang=html linenums=true?-->
                        <pre class="prettyprint linenums">
                            <code>
                                &lt;!-- PROGRESS BAR --&gt;
                                &lt;p class="ui-progress-bar"&gt;
                                    &lt;label for="prog1"&gt;Progress&lt;/label&gt;
                                    &lt;progress id="prog1" name="prog1" max="100" value="30" disabled="disabled"&gt;&lt;/progress&gt;
                                &lt;/p&gt;
                            </code>
                        </pre>
                    </div>
                </div>
                <div class="content" aria-hidden="true" aria-labeledby="tab02_02" id="tab02_02_content">
                    <div _ngcontent-c18="" class="code">
                        <pre _ngcontent-c18="" class="prettyprint linenums prettyprinted" style="">
                            .toto &#123;
                                color: #FFF;
                            &#125;
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="descriptionComponent" id="progress-spinner">
        <h3>Progress Spinner</h3>
        <div class="demo">
            <!-- PROGRESS SPINNER -->
            <p class="ui-progress-spinner">
                <svg height="50" width="70" viewBox="0 0 50 50">
                    <use href="{{ '/assets/img/icons.svg#spinner-progress' | url }}" />
                </svg>
            </p>
        </div>
    </div>
</div>